<<<<<<< HEAD
 .input1{
   
    border-radius: 10px;
}
.button1{
    border-radius: 10px;
}
.heading{
    border-radius: 10px; 
}
.user{
    border-radius: 10px; 
}
body{
    background-color:khaki;
}

=======
 .input1{
   
    border-radius: 10px;
}
.button1{
    border-radius: 10px;
}
.heading{
    border-radius: 10px; 
}
.user{
    border-radius: 10px; 
}
body{
    background-color:khaki;
}

>>>>>>> 0dc8b824571f814e33e3a31301ba5949eef98435
        