 .input1{
   
    border-radius: 10px;
}
.button1{
    border-radius: 10px;
}
.heading{
    border-radius: 10px; 
}
.user{
    border-radius: 10px; 
}
body{
    background-color:khaki;
}

        @media only screen and (max-width: 600px) {
            .none {
                  position: relative;
                  top: 500px;
                  align-self: center;
                  width: 300px;
                  left: -35vh;
            }
            .button1{
                position: relative;
                left: -5vh;
                
                width: 5vh;
                text-align: center;
            }
          
          }
